# Core Web App & UI
streamlit>=1.35.0
streamlit-option-menu
streamlit-antd-components

# Data Handling & Optimering
pandas>=2.2.0
pyarrow  # VIGTIG: Hjælper Snowflake med at sende data hurtigere
fastparquet
openpyxl

# Database & Snowflake (OPTIMERET)
snowflake-connector-python[pandas]
snowflake-sqlalchemy
sqlalchemy>=2.0.0
streamlit-snowflake

# Visualization
plotly
matplotlib
seaborn
mplsoccer

# Security & Auth
bcrypt
cryptography
pyOpenSSL
PyJWT

# Integration & API
requests
gspread
google-auth
