# Core Web App & UI
streamlit>=1.35.0
streamlit-option-menu
streamlit-antd-components

# Data Handling
pandas>=2.2.0
pyarrow
fastparquet
openpyxl
jinja2

# Database & Snowflake
snowflake-connector-python
snowflake-sqlalchemy
sqlalchemy>=2.0.0

# Math & Science
scipy
scikit-learn

# Visualization
plotly
matplotlib
seaborn
mplsoccer

# Security & Auth
bcrypt
cryptography
pyOpenSSL
PyJWT

# Integration & API
requests
gspread
google-auth
