# UI
streamlit>=1.35.0
streamlit-option-menu
streamlit-antd-components

# Data & Database (Vigtigt: [pandas] sikrer Arrow-support)
pandas
snowflake-connector-python[pandas]
pyarrow

# Visualisering
plotly
matplotlib
seaborn
mplsoccer

# Alt det andet
cryptography
bcrypt
requests
gspread
google-auth
